<!DOCTYPE html>
<html>
	<head>
	    <meta charset='UTF-8' />
	    <title>TBE:Ruby HTML</title>
	</head>
	<body class='container'>
	    <h1>TBE:Ruby HTML</h1>
	    <div>
		      <%= message %>
	    </div>
	</body>
</html>
