<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TIMER EXAMPLE</title>
		<script>
			const output = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { output().innerHTML += `<div>${m}</div>` };

			const doAfter = (i, f) => { return window.setTimeout(f, i) };
			const doEvery = (i, f) => { return window.setInterval(f, i) };

			window.onload = () => {
				let i = doEvery(500, () => {
					print(`doEvery ${i} triggered`);
				});
				let j = doAfter(3000, () => {
					print(`doAfter ${j} triggered`);
					let k = doAfter(2000, () => {
						window.clearInterval(i);
						print(`doAfter ${k} triggered cancelling ${i}`);
					});
				});
			}
		</script>
	</head>

	<body>
		<h1>TIMER EXAMPLE</h1>

		<h2>Timer Events</h2>
		<div id='event_log'></div>
  </body>
</html>