<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TBE:Ruby Fetch</title>
	    <script>
			const element = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { element().innerHTML += `<div>${m}</div>` };

			async function sendCommand(c) {
				let response = await fetch(c);
				if (response.ok) {
					let body = await response.text();
					print(body);
				} else {
					print(`Request Failed: ${response.status}`);
				}
			}
	    </script>
	</head>

	<body>
		<h1>TBE:Ruby Fetch</h1>

		<h2>Actions</h2>
		<div>
<%	commands.each do |c, v| %>
			<span>
				<button type="button" onclick="sendCommand('<%= c %>');"><%= c %></button>
			</span>
<%	end %>
			<span>
				<button type="button" onclick="sendCommand('D');">D</button>
			</span>
		</div>

	    <h2>Server Output</h2>
	    <div id='event_log'></div>
	</body>
</html>
