<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TBE:Ruby DOM Fetch</title>
		<script>
			const element = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { element().innerHTML += `<div>${m}</div>` };

			async function sendCommand(c) {
				fetch(c)
					.then(response => {
						if (response.status != 200) {
							throw new Error(response.status)
						}
						return response.text()
					})
					.then(text => print(text))
					.catch(e => print(`Request Failed: ${e}`));
			}

			function newButton(n, c) {
				let b = document.createElement("BUTTON");
				b.onclick = c;
				b.appendChild(document.createTextNode(n));
				return b;
			}

			window.onload = () => {
<%	commands.each do |c, v| %>
				element("action_buttons").
					appendChild(
						newButton('<%= c %>', () => sendCommand('<%= c %>')));
<%	end %>
			};
		</script>
	</head>

	<body>
		<h1>TBE:Ruby DOM Fetch</h1>

		<h2>Actions</h2>
		<div id="action_buttons"></div>

		<h2>Server Output</h2>
		<div id='event_log'></div>
	</body>
</html>