<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TBE:Ruby Fetch</title>
	    <script>
			const element = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { element().innerHTML += `<div>${m}</div>` };

			async function sendCommand(c) {
				fetch(c)
					.then(response => {
						if (response.status != 200) {
							throw new Error(response.status)
						}
						return response.text()
					})
					.then(text => print(text))
					.catch(e => print(`Request Failed: ${e}`));
			}
	    </script>
	</head>

	<body>
		<h1>TBE:Ruby Fetch</h1>

		<h2>Actions</h2>
		<div>
<%	commands.each do |c, v| %>
			<span>
				<button type="button" onclick="sendCommand('<%= c %>');"><%= c %></button>
			</span>
<%	end %>
			<span>
				<button type="button" onclick="sendCommand('D');">D</button>
			</span>
		</div>

	    <h2>Server Output</h2>
	    <div id='event_log'></div>
	</body>
</html>
