<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TBE:Ruby AJAX</title>
		<script>
			const element = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { element().innerHTML += `<div>${m}</div>` };

<%	commands.each do |c, v| %>
			function <%= c %>() {
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4  && this.status == 200) {
						print(this.responseText);
					}
				};
				xhttp.open("GET", "<%= c %>", true);
				xhttp.send();
			}
<%	end %>
	    </script>
	</head>

	<body>
		<h1>TBE:Ruby AJAX</h1>

	    <h2>Actions</h2>
	    <div>
<%	commands.each do |c, v| %>
			<span>
				<button type="button" onclick="<%= c %>();"><%= c %></button>
			</span>
<%	end %>
		</div>

		<h2>Server Output</h2>
		<div id='event_log'></div>
	</body>
</html>
