<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TBE:Ruby Timer Fetch</title>
		<script>
			const element = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { element().innerHTML += `<div>${m}</div>` };
			const addButton = (n, c) => { element("action_buttons").appendChild(newButton(n, c)) };

			const doEvery = (i, f) => { return window.setInterval(f, i) };

			function newButton(n, c) {
				let b = document.createElement("BUTTON");
				b.onclick = c;
				b.appendChild(document.createTextNode(n));
				return b;
			}

			var timers = {}

			const clearTimer = t => {
				window.clearInterval(timers[t]);
				print(`no longer polling ${t}`);
				timers[t] = null;
			}

			function doCommand(c, i) {
				if (timers[c]) {
					clearTimer(c);
				} else {
					print(`poll ${c}`);
					timers[c] = doEvery(i, () => {
						fetch(c)
							.then(response => response.text())
							.then(text => print(`polling ${c}: ${text}`))
							.catch(e => print(`Request Failed: ${e}`));          
					});
				}
			}

			window.onload = () => {
<%	commands.each do |c, v| %>
				addButton('<%= c %>', () => doCommand('<%= c %>', '<%= v %>'));
<%	end %>
				addButton("cancel", () => {
					for (const t in timers) {
						clearTimer(t);
					}});
			}
		</script>
	</head>

	<body>
		<h1>TBE:Ruby Timer Fetch</h1>

		<h2>Actions</h2>
		<div id="action_buttons"></div>

		<h2>Server Output</h2>
		<div id='event_log'></div>
	</body>
</html>