<!DOCTYPE html>
<html>
	<head>
	    <meta charset='UTF-8' />
	    <title>HTML EXAMPLE</title>
	</head>
	<body class='container'>
	    <h1>HTML EXAMPLE</h1>
	    <div>
		      <%= message %>
	    </div>
	</body>
</html>
