<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8' />
		<title>TBE:Ruby AJAX</title>
		<script>
			const element = (e = "event_log") => { return document.getElementById(e) };
			const print = m => { element().innerHTML += `<div>${m}</div>` };

			function sendCommand(c) {
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
						if (this.status == 200) {
							print(this.responseText);
						} else {
							print(`Request Failed: ${this.status}`);
						}
					}
				};
				xhttp.open("GET", c, true);
				xhttp.send();
			}
	    </script>
	</head>

	<body>
		<h1>TBE:Ruby AJAX</h1>

	    <h2>Actions</h2>
	    <div>
<%	commands.each do |c, v| %>
			<span>
				<button type="button" onclick="sendCommand('<%= c %>');"><%= c %></button>
			</span>
<%	end %>
			<span>
				<button type="button" onclick="sendCommand('D');">D</button>
			</span>
		</div>

		<h2>Server Output</h2>
		<div id='event_log'></div>
	</body>
</html>